.profile-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-setting-btn {
  width: auto;
  // margin-right: 142px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--dark-color);
}
.to-setting-btn svg {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}
.profile-page__body {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 64px;
}
.subscribers-wrapper {
  display: flex;
  align-items: center;
  grid-gap: 6px;
}

.subscriber-avatar-btn,
.subscriber-avatar {
  width: 36px;
  height: 36px;
}
.to-subscribers-search {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  border-radius: 50%;
  background: var(--light-color);
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    background: var(--dark-color);
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translateY(-50%) translateX(-50%);
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
}
.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
