@if(profile$ | async; as profile){
<header class="profile-page-header">
  <app-profile-header [profile]="profile"></app-profile-header>
  <a [routerLink]="['/settings']" class="btn to-setting-btn">
    Редактировать
    <svg icon="settings"></svg>
  </a>
</header>

<main class="profile-page__body">
  <app-post-feed></app-post-feed>
  <div>
    <h3 class="h6 mb16">Подписчики</h3>
    <div class="subscribers-wrapper mb32">
      @for(subscriber of subscribers$ | async; track subscriber.id){
      <a
        [routerLink]="['/profile', subscriber.id]"
        class="subscriber-avatar-btn"
      >
        <img [src]="subscriber.avatarUrl | imgUrl" class="subscriber-avatar" />
      </a>
      }
      <a class="to-subscribers-search" [routerLink]="['/search']"> </a>
    </div>

    <h3 class="h6 mb16">Навыки</h3>
    <ul class="stack-wrapper mb32">
      @for (skill of profile.stack; track skill) {
      <li class="skill-tag">{{ skill }}</li>
      }
    </ul>

    <h3 class="h6 mb16">О себе</h3>

    @if(profile){
    <p class="medium-text">{{ profile.description }}</p>
    }
  </div>
</main>
}
